<%- include('../header'); -%>
<%- include('../sidebar'); -%>
<link rel="stylesheet" href="css/pagination.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
     
      List Of Admin
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">

        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">

          <table class="table table-hover">
            <tr> 
              <form action="#" method="get" class="sidebar-form">
       <div class="input-group" style="margin-left: 15px">
         <input type="text" name="Search" placeholder="Search...">
         
         <input type="submit" value="Search" id="search-btn" class="btn btn-flat">
               
               </button>
        
       </div>
     </form>
           </tr>
           <tr>
            <th></th>

              <th>Name Of Admin</th>
              <th>Email Of Admin</th>
              <th>Stream Of Admin</th>
                  <th>Mobile Of Admin</th>
                  <th>Password</th>
                  <th>Action</th>

            </tr>

            <%
              if(admin.length > 0){
                  for(let i=0;i<admin.length;i++){
                    %> 
                    <tr>
                      <td><%= [i+1] %></td>
                      <td><%= admin[i].admin_name %></td>
                      <td><%= admin[i].admin_email %></td>
                      <td><%= admin[i].admin_program %></td>
                      <td><%= admin[i].admin_mobile %></td>
                      <td><%= admin[i].admin_pass %></td>
                      <td> <a href="/admin_delete?id=<%= admin[i]._id %>"> 
                        <i class="fa fa-trash" style="color: red; font-size:20px;" aria-hidden="true"></i></a></td>
                    </tr>
                    <% 
                  }
                }
              else
              {
              %>
              <tr>
                <td colspan="6"> Admin Not found</td>
              </tr>
              <% } %>
       

          </table>
       

        </div>  
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <ul class="pagination">
        <% for(let j = 1; j <= totalpage; j++ ){ %>
        <li>  <a href="?page=<%= j %>"><%= j %></a></li>
        <%
        } %>
      </ul>
  
    </div>
   