<%- include('../header'); -%>
<link rel="stylesheet" href="css/profile.css">
<div class="card">
    <div class="card-header">
     <div class="text-header">Alumni Information</div>
    </div>
    <div class="card-body">

      
      <form action="/alumni_bio_up" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input class="form-control" name="uid" id="uid" type="hidden" >


          <label for="avtar">Alumni Avatar:</label>
          <img src="upload/post/<%= alm.alm_avatar %>" height="104" style="border-radius: 50%;">
          <input type="file" class="form-control" name="avatar">
        </div>
        <div class="form-group">
          <input class="form-control" name="id" id="id" type="hidden" value="<%= alm._id %>">
      <input class="form-control" name="email" id="email" type="hidden" value="<%= alm.alm_email %>">
        </div>
        <div class="form-group">
          <label for="contact">Name :</label>
          <input required="" class="form-control" name="name" id="name" type="text" value="<%= alm.alm_name %>">
         
        </div>


        <div class="form-group">
          <label for="contact">contact no:</label>
          <input required="" class="form-control" name="contact" id="contact" type="text" value="<%= alm.alm_contact_no %>">
         
        </div>

        <div class="form-group">
            <label for="batch">Batch: (Pass Out Year)</label>
            <input  required="" class="form-control" name="batch" id="batch" type="number" placeholder="YYYY" min="1999" max="2050" value="<%= alm.alummi_batch %>">
            <script>
               document.querySelector("input[type=number]")
               .oninput = e => console.log(new Date(e.target.valueAsNumber, 0, 1))
            </script>
          </div>
          <div class="form-group">
            <label for="Current_Location">Current Location:</label>
            <input required="" class="form-control" name="Current_Location" id="Current_Location" type="text" value="<%= alm.alm_current_location %>">
           
          </div>
          <div class="form-group">
            <label for="Current_jobprofile">Current Job Profile:</label>
            <input required="" class="form-control" name="Current_jobprofile" id="Current_jobprofile" type="text" value="<%= alm.alm_current_jobprofile %>">
           
          </div>
          <div class="form-group">
            <label for="Insta_id">Instagram ID :</label>
            <input class="form-control" name="Insta_id" id="Insta_id" type="text" value="<%= alm.alm_insta_id %>">
           
          </div>
          <div class="form-group">
            <label for="Git_id">Github ID :</label>
            <input class="form-control" name="Git_id" id="Git_id" type="text" value="<%= alm. alm_git_id %>"> 
          </div>
       
       <input type="submit" class="btn" value="submit">    </form>

       `

 
  
    </div>
  </div>
  

        
  <% if(typeof msg !=='undefined') { %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% } %>
    </br>
        </div>
      
<script>
  function myFunction() {
    var x = document.getElementById("pass");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  </script>
    
<%- include('../footer'); -%>